@import '../../../styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-family: 'VT323', monospace;
  font-size: 60px;
  color: #fff;
}

.playButton {
  border: 0;
  background: transparent;
  color: $body-main-color;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .4s ease-out;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: $body-main-color, $amount: 50)
  }
}